<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Spam email detection</title>
    <link rel="icon" href="https://cdn3d.iconscout.com/3d/premium/thumb/email-notification-4036270-3342587.png?f=webp">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
  <h1>📨 Login</h1>
<!-- partial:index.partial.html -->
<form method="POST" action="{{ url_for('login') }}">
  <div class="form-item">
    <label>Username</label>
    <div class="input-wrapper">
      <input placeholder="Username" type="text" id="username" name="username" required/>
    </div>
  </div>
  <div class="form-item">
    <label>Password</label>
    <div class="input-wrapper">
      <input placeholder="Password" type="password" id="password" name="password" required/>
      <button type="button" id="eyeball">
        <div class="eye"></div>
      </button>
      <div id="beam"></div>
    </div>
  </div>
  <button id="submit" type="submit">Sign in</button>
</form>
<h2>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></h2>
<!-- partial -->
  <script src="../static/js/script.js"></script>
</body>
</html>
